{% extends 'modelo.html' %}
{% load static %}

{% block destaque %}

{% endblock %}

{% block conteudo%}

<div class="welcome-area" id="welcome" >
    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
        <h3>Excluir Registros</h3>
        <p class="lead">
            Confirme para excluir o registro definitivamente.
        </p>

        <hr>

        <form action="" method="POST">    

            <p>
                Deseja excluir o registro:<b> {{ object }} ?</b>
            </p>

            {% csrf_token %}

            {{ form.as_p }}
            <button type="submit" class="btn btn-danger">Excluir</button>

        </form>
        </div>
    </div>
<!-- ***** Header Text End ***** -->
</div>

{% endblock %}