{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block titulo %}
        <title>Modelo</title>
        {% endblock %}
        {% bootstrap_css %}
          
          
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/flex-slider.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/templatemo-art-factory.css' %}"/>

    </head>
    <body>

    <div id="preloader">
      <div class="jumper">
          <div></div>
          <div></div>
          <div></div>
      </div>
    </div>  

      {% block menu %}
      <section class="header">
        <header class="header-area header-sticky">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <nav class="main-nav">
                          <!-- ***** Logo Start ***** -->
                          <a href="#" class="logo">Diamond</a>
                          <!-- ***** Logo End ***** -->
                          <!-- ***** Menu Start ***** -->
                          <ul class="nav">
                              <li class="scroll-to-section"><a href="{% url 'index' %}" class="active">Início</a></li>
                              <li class="scroll-to-section"><a href="#about">Sobre</a></li>
                              <li class="submenu">
                                  <a href="javascript:;">Cadastro</a>
                                  <ul>
                                      <li><a href="{% url 'cadastrar-campo' %}">Cadastrar Campo</a></li>
                                      <li><a href="{% url 'cadastrar-atividade' %}">Cadastrar Atividade</a></li>                                      
                                  </ul>
                              </li>
                              <li class="submenu">
                                <a href="javascript:;">Planilha</a>
                                <ul>
                                    <li><a href="{% url 'listar-campos' %}">Listar Campo</a></li>
                                    <li><a href="{% url 'listar-atividades' %}">Listar Atividade</a></li>                                    
                                </ul>
                            </li>
                              <li class="scroll-to-section"><a href="{% url 'contato' %}">Contate-Nos</a></li>
                          </ul>
                          <a class='menu-trigger'>
                              <span>Menu</span>
                          </a>
                          <!-- ***** Menu End ***** -->
                      </nav>
                  </div>
              </div>
          </div>
          <center>
            <div class="bg" id="header-secondary" style="background-color: rgb(164, 229, 245);">
                Diamond
            </div>
          </center>
      </header>
      
    </section>
        
      {% endblock %}

      {% block destaque %}
        <div class="welcome-area" id="welcome">

          <!-- ***** Header Text Start ***** -->
          <div class="header-text">
              <div class="container">
                  <div class="row">
                      <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                          <h1>CRUD + Template <strong>para você</strong></h1>
                          <p></p>
                          <a href="https://www.linkedin.com/in/allan-diamante/" class="main-button-slider">LinkedIn</a>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                          <img src="{% static 'images/slider-icon.png'%}" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                      </div>
                  </div>
              </div>
          </div>
          <!-- ***** Header Text End ***** -->
        </div>
        <!-- ***** Welcome Area End ***** -->
        
      {% endblock %}
      
      {% block conteudo %}
      <section class="section" id="about">
        <div class="container">
          <div class="row">
              <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                  <img src="{% static 'images/left-image.png'%}" class="rounded img-fluid d-block mx-auto" alt="App">
              </div>
              <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                  <div class="left-heading">
                      <h5>Vivamus sodales nisi id ante molestie venenatis</h5>
                  </div>
                  <div class="left-text">
                      <p>This template is <a href="#">last updated on 20 August 2019 </a>for main menu drop-down arrow and sub menu text color. Duis auctor dolor eu scelerisque vestibulum. Vestibulum lacinia, nisl sit amet tristique condimentum. <br><br>
                      Sed a consequat velit. Morbi lectus sapien, vestibulum et sapien sit amet, ultrices malesuada odio. Donec non quam euismod, mattis dui a, ultrices nisi.</p>
                      <a href="{% url 'sobre' %}" class="main-button">Saiba mais</a>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="hr"></div>
              </div>
          </div>
      </div>

      </section>
        
        
      {% endblock %}

      
    
    {% block rodape %}
    <footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-7 col-md-12 col-sm-12">
                  <p class="copyright">Copyright &copy; 2020 Art Factory Company 
              
              . Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12">
                  <ul class="social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
      </footer>
      {% endblock %}
      
      {% bootstrap_javascript jquery='full' %}
        
      <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
      <script src="{% static 'js/popper.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/owl-carousel.js' %}"></script>
      <script src="{% static 'js/scrollreveal.min.js' %}"></script>
      <script src="{% static 'js/waypoints.min.js' %}"></script>
      <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
      <script src="{% static 'js/imgfix.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>