{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
        <title>Registrar Atividade</title>
{% endblock %}

{% block conteudo %}
    <h1>Lista de atividades registradas</h1>
    <br>
    <div class="table responsive"></div>
        <table class="table table striped">
            <tr>
                <th>Numero</th>
                <th>Descrição</th>
                <th>Pontos</th>
                <th>Detalhes</th>
                <th>Campo</th>
            </tr>
            {% for atividade in object_list %}
            <tr>
                <td>{{ atividade.numero }}</td>
                <td>{{ atividade.descricao }}</td>
                <td>{{ atividade.pontos }}</td>
                <td>{{ atividade.detalhes }}</td>
                <td>{{ atividade.campo }}</td>
                <td>
                    <a href="{% url 'editar-atividade' atividade.pk %}" class="btn btn-warning btn-sn" title="Editar">e</a>
                    <a href="{% url 'excluir-atividade' atividade.pk %}" class="btn btn-danger btn-sn" title="Excluir">x</a>
                   

                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3"> Nenhum campo registrado</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}